.card--wrapper {
  position: relative;
  margin: auto;
  max-height: 550px;
  max-width: 550px;
}

.card--wrapper-border {
  border: 5px solid $yellow-light;
}

.card--img {
  width: 100%;
  overflow: hidden;
}

.card--topText {
  position: absolute;
  color: $yellow-light;
  z-index: 100;
  font-weight: bolder;
  top: 2rem;
  left: 2rem;
}

.card--bottomText {
  position: absolute;
  color: $yellow-light;
  z-index: 100;
  font-weight: bolder;
  bottom: 2rem;
  right: 2rem;
}
