.game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 2rem auto;
  border: 0.15rem solid $pink;
  border-radius: 6px;
  box-shadow: 4px 4px 6px -3px $yellow-light;
}

.dices-grid-wrapper {
  margin: 1rem;
  padding: 1rem;
  width: 250px;
}

.dices-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.dices-grid-item {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
}

.selected-value {
  color: $yellow-light;
}